<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.github.han9912.zipin.user.mapper.UserMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (name, password, email, role)
        VALUES (#{name}, #{password}, #{email}, #{role})
    </insert>

    <select id="findByEmail" resultType="io.github.han9912.zipin.user.entity.User">
        SELECT * FROM users WHERE email = #{email}
    </select>
</mapper>